[template.environment]
  GQL_HOST = "WordPress URL https://satchart.com/graphql"
  NUXT_IMAGE_DOMAINS = "satchart.com"
  NODE_VERSION = "22.21.1"

[build]
  command = "NODE_OPTIONS='--max-old-space-size=4096' nuxt build"
  publish = "dist"
  NODE_VERSION = "22.21.1"

[build.environment]
  NODE_OPTIONS = "--max-old-space-size=4096"

[images]
  remote_images = ["https://i0.wp.com/*"]
